<h1>Lista de desarrolladores</h1>
<table>
  <th>
    <tr>
      <td>SOID</td>
      <td>Name</td>
    </tr>
  </th>
  <% @developers.each do |developer| %>
    <tr>
      <td><%= developer.soid%></td>
      <td><%= developer.name%></td>
      <td><%= link_to 'Show', developer %></td>
      <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
    </tr>
  <% end %>
</table>
