<h1>Create Developer</h1>
<% if @developer.errors.any? %>
 <h2>Errores encontrados:</h2>
  <ul>
     <% @developer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
  </ul>
 <% end %>
<%= render 'partials/form' %>
