<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BAU-Cards</title>
</head>
<body>
  <h1>BAU-Cards Scrum meeting tool</h1>
  <ul>
    <li><%= link_to "Desarrolladores", developers_path %></li>
    <li><%= link_to "MRF's", mrves_path %></li>
    <li><%= link_to "PSS", psses_path %></li>
  </ul>
</body>
</html>
