<h1>Mrves#index</h1>
<div>
  <%= link_to 'crear nuevos Mrfs', new_mrf_path %>
</div>
<table>
  <th>
    <tr>
      <td>Descripción</td>
      <td>Desarrollador</td>
      <td>PS</td>
    </tr>
  </th>
</table>
