<h1>Create Mrf</h1>
<% if @mrf.errors.any? %>
 <h2>Errores encontrados:</h2>
  <ul>
     <% @mrf.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
  </ul>
 <% end %>
<%= render 'partials/mrf_form' %>
<%= link_to "regresar al listado", mrves_path %>
